<ul>
  <a href ="/item_shops">Item Shops</a>
  <a href ="/items">Items List</a>
</ul>
<h1>Items for Sale</h1>
<% @items.only_consumables.each do |item| %>
  <h3><p><%= item.name %></p></h3>
  <p>Quantity: <%= item.quantity %></p>
  <p>Price (GP): <%= item.price %></p>
  <p>Consumable: <%= item.consumable %></p>
  <%= link_to "Edit #{item.name}", "/items/#{item.id}/edit" %>
  <%= link_to "Show #{item.name}", "/items/#{item.id}" %>
<% end %>

