<ul>
  <a href ="/item_shops">Item Shops</a>
  <a href ="/items">Items</a>
</ul>
<h3>Item Shop: <%= @item_shop.name %></h3>
<h4>City: <%= @item_shop.city %></h4>
<h4>Store Status: <%= @item_shop.open %></h4>
<h4>Number of Employees: <%= @item_shop.num_employees %></h4>
<p>Number of Items: <%= @item_shop.count_items%></p>